@font-face {
	font-family: 'Circular Medium';
	font-style: normal;
	font-weight: bold;
	src: url("fonts/Circular-Medium.eot");
	src: url("fonts/Circular-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("fonts/Circular-Medium.woff") format("woff"), 
		 url("fonts/Circular-Medium.ttf") format("truetype"), 
		 url("fonts/Circular-Medium.svg#Circular-Medium") format("svg");
	text-rendering: optimizeLegibility
}

@font-face {
	font-family: 'Circular Bold';
	font-style: normal;
	font-weight: bold;
	src: url("fonts/Circular-Bold.eot");
	src: url("fonts/Circular-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("fonts/Circular-Bold.woff") format("woff"), 
		 url("fonts/Circular-Bold.ttf") format("truetype"), 
		 url("fonts/Circular-Bold.svg#Circular-Bold") format("svg");
	text-rendering: optimizeLegibility
}

@font-face {
	font-family: 'Circular';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Circular-Book.eot");
	src: url("fonts/Circular-Book.eot?#iefix") format("embedded-opentype"), 
	     url("fonts/Circular-Book.woff") format("woff"), 
	     url("fonts/Circular-Book.ttf") format("truetype"), 
	     url("fonts/Circular-Book.svg#Circular-Book") format("svg");
	text-rendering: optimizeLegibility
}

@font-face {
	font-family: 'Circular Light';
	font-style: normal;
	font-weight: 300;
	src: url("fonts/Circular-Light.eot");
	src: url("fonts/Circular-Light.eot?#iefix") format("embedded-opentype"), 
		 url("fonts/Circular-Light.woff") format("woff"), 
		 url("fonts/Circular-Light.ttf") format("truetype"), 
		 url("fonts/Circular-Light.svg#Circular-Light") format("svg");
	text-rendering: optimizeLegibility
}