@font-face {
  font-family: 'Circular Std Black';
  src: url('fonts/CircularStd-Black.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('fonts/CircularStd-Book.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),  
       url('fonts/CircularStd-Book.otf')  format('opentype'),
       url('fonts/CircularStd-Book.woff') format('woff'), 
       url('fonts/CircularStd-Book.ttf')  format('truetype'), 
       url('fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Circular Std Medium';
  src: url('fonts/CircularStd-Medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Black Italic';
  src: url('fonts/CircularStd-BlackItalic.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url('fonts/CircularStd-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Bold Italic';
  src: url('fonts/CircularStd-BoldItalic.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Book Italic';
  src: url('fonts/CircularStd-BookItalic.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circular Std Medium Italic';
  src: url('fonts/CircularStd-MediumItalic.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
